.patients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patients_title {
  font-size: 52px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 55px;
}

.patients_items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 443px;
  height: 97px;
  background: #000;
  border: 4px solid #0ff;
  margin-bottom: 25px;
  cursor: pointer;
  text-transform: uppercase;
}

.patients_search {
  width: 565px;
  height: 81px;
  background: #434343;
  border: none;
  border-radius: 19px;
  color: white;
  font-size: 35px;
  padding-left: 110px;
}

.input_search {
  position: relative;
  margin-bottom: 25px;
}

.search_icon {
  position: absolute;
  left: 15px;
  top: 15px;
}