.containerReportAccount
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 99%
    .reportAccountBtn
        display: flex
        justify-content: center
        align-items: center
        font-size: 38px
        width: 448px
        height: 96px
        border-radius: 48px
        background: linear-gradient(#00E5FF, #085E67)
        transition: background 0.3s ease
        cursor: pointer
        &:hover
            background: linear-gradient(#085E67, #00E5FF)
            transition: background 0.3s ease
    .reportAccountTestTimeScrollContainer
        width: 100%
        min-height: 200px
    .reportAccountTestTimeScrollContainer .reportAccountTestTime
        position: relative
        height: 210px
        display: flex
        align-items: center
        flex-direction: column
        overflow-y: scroll
        scroll-behavior: smooth
        scrollbar-width: 100%
        padding-top: 5%
        a
            text-decoration: none
            color: #fff
            div
                cursor: pointer
                font-size: 38px
                margin-bottom: 10px
            &:hover
                color: #00E5FF

.accountReportStart_nameContainer_brain
    width: 93%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center

    .nameContainer_brainContent
        width: 100%
        height: 80%
        display: flex
        justify-content: space-around
        align-items: center
        .brain
            // width: 100%
            height: 100%
            width: 50.08%
            svg
                width: 100%
                height: 100%
        .intakeInfoText_results
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: center
            height: 100%
            .results
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                max-width: 121px
                max-height: 121px
                border: 1px solid #aef7ff
                border-radius: 50%
                div
                    // width: 100%
                    display: flex
                    justify-content: center
                    align-items: center

    .alphaContainer
        // height: 20%
        display: flex
        justify-content: center
        align-items: center
        padding-bottom: 10px
        // height: 11.57vh
        .alphaContainer_text
            margin-right: 25px
            font-size: 43px
        .alphaContainer_letters
            margin-right: 5px
            display: flex
            justify-content: space-around
            align-items: center
            flex-direction: column
            text-align: center
            .letter
                font-size: 24px
                color: #aef7ff
        .alphaContainer_dashboard
            width: 68%
            svg
                width: 100%

.accountReportStart_modalWindow
    display: flex
    position: fixed
    z-index: 1000
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0, 0, 0)
    background-color: rgba(0, 0, 0, 0.4)
    .modalWindow_content
        align-self: flex-end
        position: absolute
        right: 0
        z-index: 1001
        display: flex
        justify-content: center
        align-items: center
        width: 70%
        height: 74vh
        .content
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            position: relative
            .modalWindow_time
                position: absolute
                top: 0
                left: 0
            .viewReport
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                .viewReport_content
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 416px
                    height: 271px
                    font-size: 31px
                    background: linear-gradient(0.25turn, #2e2d2d, #858585, #373737)
                    color: #fff
                    margin-bottom: 38px
                    div
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 50%
                        text-align: center
                .viewReport_btn
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 416px
                    height: 96px
                    color: #fff
                    border-radius: 48px
                    background: linear-gradient(#00E5FF, #085E67)
                    transition: background 0.3s ease
                    font-size: 40px
                    cursor: pointer
                    &:hover
                        background: linear-gradient(#04bace, #032d31)
                        color: #ccc8c8
                        transition: .2s all ease
            .modalWindow_btnStart
                display: flex
                justify-content: center
                align-items: center
                width: 343px
                height: 96px
                border-radius: 48px
                background: linear-gradient(#00E5FF, #085E67)
                transition: background 0.3s ease
                font-size: 40px
                cursor: pointer
                transition: .2s all ease
                &:hover
                    background: linear-gradient(#04bace, #032d31)
                    color: #ccc8c8
                    transition: .2s all ease


@media (max-width: 1024px)
    .accountReportStart_nameContainer_brain
        height: 95%
        .nameContainer_brainContent
            height: 80%
            flex-direction: column-reverse
            // flex-wrap: wrap
            // justify-content: space-between
            .intakeInfoText_results
                padding-top: 20px
                display: flex
                flex-direction: row
            .brain
                // width: 60%
            .brain_btns
                width: 100%
                flex-direction: row
                .btn
                    .btn_Title
                        text-align: left
                        font-size: 23px
                        padding-left: 10px
                    .btnContainer
                        height: 40px

                .containerRogueMode
                    margin-top: 0
                    .titleRogueMode
                        font-size: 23px
        .alphaContainer
            height: auto


@media (max-width: 684px)
    .accountReportStart_nameContainer_brain
        height: 150%
    .containerReportAccount
        display: flex
        justify-content: flex-start
        height: 165%
    .accountReportStart_modalWindow
        .modalWindow_content
            right: 0
            left: 5%
            width: 90%