# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
/src/domain.json
/public/BrainModel.gltf
/public/Brain_Final_03_05_2022.gltf
/public/medium_size_3d_model.gltf
/public/large_size_3d_model.gltf
