.accountContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.clientInfo,
.visitHistory {
  margin-right: 20px;
}

.clientInfo {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientInfo_tittle {
  width: 100%;
  font-size: 30px;
  color: #aef7ff;
  margin-top: 35px;
  margin-bottom: 40px;
}

.clientInfoAccount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

.clientInfoAccount .infoContainer {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.clientInfoAccount div {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

/* needed for alert on CheckoutForm */
.alert {
  margin-bottom: 1px;
  /* height: 40px;
  line-height: 30px; */
  padding: 0px 15px;
  position: absolute;
}

.clientInfoAccount .info {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.clientInfoAccount div:last-child {
  margin-bottom: 0;
}

.clientInfoAccount .info div {
  margin-right: 5px;
}

.clientInfoAccount .clientInfo_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #707070;
  padding-left: 10px;
}

.clientInfoAccount .colorText {
  color: #00e5ff;
}

.visitHistory {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.visitHistory_table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.visitHistory_table .table,
.billing_table .table {
  width: 100%;
  position: relative;
  height: 178px;
  display: block;
  overflow-y: auto;
}

.billing_table .table {
  height: 133px;
}

.billing_table .table .loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing_table .table tr td {
  width: 100%;
}

.visitHistory_table table tr th {
  font-size: 30px;
  color: #fff;
  border: 1px solid #707070;
  text-align: center;
  padding: 7px;
}

.visitHistory_table table tr td {
  font-size: 30px;
  color: #707070;
  border: 1px solid #707070;
  text-align: center;
  padding: 7px 10px;
}

.visitHistory_table table .tableRow td{
  cursor: pointer;
}

.visitHistory_table table .tableRow:hover td{
  color: #00e5ff;
  border: 1px solid #00e5ff;
}

.visitHistory_table table .modalContent {
  width: 60%;
}

/* start: style information of care plan  */
.infoCarePlanContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infoCarePlanContainer .infoCarePlanContainer_header{
  color:#00e5ff;
  margin-bottom: 5%;
}

.infoCarePlanContainer .data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 3%;
}

.infoCarePlanContainer .data .inputDate {
  padding-left: 10px;
  padding-right: 5px;
  border-bottom: 1px solid #00e5ff;
}

.inputDateContainer {
  width: 100%;
  position: relative;
}

.inputDateContainer .sendArrow {
  width: 30px;
  position: absolute;
  right: -5px;
  bottom: 3px;
}

.inputDateContainer .sendArrow img {
  width: 25px;
}

.inputDateContainer .date {
  width: 100%;
}

.infoCarePlanContainer .data .inputDateString {
  width: 100%;
  margin-bottom: 7px;
  margin-top: 15px;
}

.infoCarePlanContainer .data .inputDate .text {
  color: #00e5ff;
  font-size: 13px;
}

.infoCarePlanContainer .data .inputDate .date {
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
}

.infoCarePlanContainer .data .inputDate .dateString {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: initial;
  justify-content: space-between;
  align-items: center;
}

.infoCarePlanContainer .data .inputDate .dateString .dateContainer {
  width: 100%;
}

.infoCarePlanContainer .data .inputDate .date .dateContainer {

}

.infoCarePlanContainer .data .inputDate .date .dateContainer .dateNote {
  position: relative;
  padding-right: 13px;
}

.infoCarePlanContainer .data .inputDate .date .dateContainer .deleteCross {
  position: absolute;
  right: -5px;
  top: -1.5px;
  cursor: pointer;
}

.infoCarePlanContainer .data .inputDate .date .dateContainer .deleteCrossNote {
  right: 5px;
}

/* end: style information of care plan  */

.billing_table table tfoot tr td {
  border: 1px solid transparent;
  text-align: left;
  padding: 0;
  padding-right: 5px;
}

.billing_table table tr:last-child td:last-child {
  padding-right: 0;
}

.billing_table table tr:last-child td div {
  width: 100%;
}

.visitHistory_inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.visitHistory_billing {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.visitHistory_inputContainer {
  /* width: 49%; */
  display: flex;
  flex-direction: column;
}

.visitHistory_inputs div:last-child {
  margin-right: 0;
}

.visitHistory_inputsContainer {
  width: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visitHistory_inputContainer {
  /* width: 100%; */
}

.datetimeContainer,
.datetimeContainer input {
  width: 100%;
  height: 100%;
}

.datetimeContainer input {
  padding: 5px 0;
}

.datetimeContainer input[value] {
  font-size: 18px;
}
.datetimeContainer .react-datepicker__close-icon {
  top: 5px;
  right: 10px;
}

.visitHistory_inputContainer div input {
  width: 100%;
  border: #707070 1px solid;
  border-radius: 7px;
  background-color: #191919;
  color: #707070;
  font-size: 25px;
  padding-left: 5px;
}

.visitHistory_billing .visitHistory_inputContainer {
  width: 49%;
}

.visitHistory_inputContainer .visitHistory_inputContainer-selectContainer {
  position: relative;
  cursor: pointer;
}

.visitHistory_inputContainer
  .visitHistory_inputContainer-selectContainer
  input {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
}

.visitHistory_inputContainer .visitHistory_inputContainer-size input {
  padding-top: 6px;
  padding-bottom: 6px;
}

.visitHistory_inputContainer .visitHistory_inputContainer-size input[value] {
  font-size: 18px;
  padding-left: 10px;
}

.visitHistory_inputContainer
  .visitHistory_inputContainer-selectContainer
  input[value] {
  font-size: 18px;
  padding-left: 10px;
}

.visitHistory_inputContainer
  .visitHistory_inputContainer-selectContainer
  .selectContainer {
  width: 98%;
  font-size: 18px;

  border-left: #707070 1px solid;
  border-right: #707070 1px solid;
  border-bottom: #707070 1px solid;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #191919;
  position: absolute;
  top: 44px;
  z-index: 1000;
  visibility: hidden;
  cursor: pointer;
}

.visitHistory_inputContainer
  .visitHistory_inputContainer-selectContainer
  .selectContainer
  div {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.visitHistory_inputContainer
  .visitHistory_inputContainer-selectContainer
  .selectContainer
  div:hover {
  width: 100%;
  background-color: #7a7a7a;
}

.visitHistory_inputContainer
  .visitHistory_inputContainer-selectContainer
  .selectContainer
  div:last-child:hover {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-bottom: 4px;
}

.visitHistory_inputContainer
  .visitHistory_inputContainer-selectContainer:hover
  .selectContainer {
  visibility: visible;
}

.visitHistory_billing .visitHistory_inputContainer div input {
  width: 98%;
}

.visitHistory_inputContainer div input::placeholder {
  margin-left: 5px;
}

.visitHistory_inputContainer .inputTitle {
  font-size: 25px;
  color: #b1b1b1;
}

.visitHistory_inputsContainer
  .visitHistory_inputContainer:last-child
  .inputTitle {
  margin-top: 7px;
}

.billing {
  align-self: baseline;
  width: 29.4%;
}

.billing_table {
  width: 100%;
}
.billing_table table,
.billing_table table tr {
  width: 100%;
  /* border: 1px solid #707070; */
}

.billing_table table tr .billingReq {
  position: relative;
}

.billing_table table tr .billingReq .req {
  position: absolute;
  left: 0;
  top: 0;
  color: #aef7ff;
}

.billing_table table tr th {
  font-size: 30px;
  color: #fff;
  border: 1px solid #707070;
  text-align: center;
  padding: 7px;
}

.billing_table table tr td {
  font-size: 30px;
  color: #707070;
  border: 1px solid #707070;
  text-align: center;
  padding: 7px;
}

.billing_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  margin-top: 5px;
}

.billing_formInputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing_formBlock {
  width: 50%;
}

.billing_formBlock .titleAccount {
  font-size: 25px;
  color: #b1b1b1;
}

.billing_formBlock .inputContainer input {
  width: 100%;
  background-color: #191919;
  color: #fff;
  font-size: 25px;
  border: none;
  border-bottom: #fff 1px solid;
}

.billing_formBlock .billing_formBlockInput {
  margin-right: 5px;
}

.completeBtn,
.completeBtnDisable {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  width: 165px;
  height: 45px;
  margin-top: 25px;
  background: radial-gradient(#00e5ff, #085e67);
  border-radius: 34px;
  cursor: pointer;
}

.completeBtnDisable {
  background: radial-gradient(#b1b1b1, #7a7a7a);
  font-weight: bold;
}

@media (max-width: 1440px) {
  .clientInfo_tittle {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .clientInfoAccount div {
    font-size: 25px;
  }

  .clientInfoAccount .clientInfo_text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }

  .visitHistory_table table tr th,
  .billing_table table tr th {
    font-size: 20px;
    padding: 5px;
  }

  .visitHistory_table table tr td,
  .billing_table table tr td {
    font-size: 20px;
  }

  .visitHistory_inputContainer .inputTitle {
    font-size: 18px;
  }

  .billing_formBlock .titleAccount {
    font-size: 20px;
  }

  .btnComplete {
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    border-radius: 35px;
  }
}

/* billing */
.FormGroup {
  margin: 25px auto;
  padding: 0;
  border-style: none;
  background-color: #191919;
  will-change: opacity, transform;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #fff;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  border: none;
  padding: 15px 19px 11px 0;
}

h1,
h3 {
  text-align: center;
}

@media (max-width: 1024px) {
  .billing {
    margin-top: 1em;
    width: 97%;
  }
}

@media (max-width: 684px) {
  .accountContainer {
    height: 165%;
  }
}
