.menuInfoPatient_container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 1vh;
	padding-bottom: 1vh;
	/* border-bottom: solid #707070 3px */
}
.menuInfoPatient {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.menuInfoPatient .menuInfoPatientItem a {
	text-decoration: none;
	font-size: 27px;
	margin-right: 65px;
	color: #707070;
	border-bottom: solid 1px transparent;
}

.menuInfoPatient .menuInfoPatientItem:last-child a {
	margin-right: 0;
}

.active a {
	text-decoration: none;
	font-size: 27px;
	margin-right: 65px;
	color: #aef7ff;
	border-bottom: solid #aef7ff 1px;
}

.menuInfoPatient .active:last-child a {
	margin-right: 0;
}

@media (max-width: 1024px) {
	.menuInfoPatient {
		/* padding: 45px 5px 25px 5px; */
	}

	.menuInfoPatient .menuInfoPatientItem a {
		margin-right: 1em;
	}
	.active a {
		margin-right: 1em;
	}
}

@media (max-width: 891px) {
	.menuInfoPatient {
		flex-wrap: wrap;
	}

	.menuInfoPatient .menuInfoPatientItem a {
		margin-right: 1em;
	}
	.active a {
		margin-right: 1em;
	}
}
