.nameContainer_arousal
    position: relative
    width: 34.22%
    height: 100%
    border-right: solid #707070 3px
    background: radial-gradient(#515151, #000000)
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column

    .containerComplete
        height: 19%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        margin-bottom: 8px

        .btn_circles
            width: 85%
            max-width: 80px
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 28px

            .btn_circle
                width: 13px
                height: 12px
                background-color: #b1b1b1
                border: 1px solid #707070
                border-radius: 50%

            .btn_circleActive
                width: 28px
                height: 28px
                background-color: #fff
                border-radius: 50%
        .coherenceBtn_complete
            // width: 85%
            // max-width: 200px
            // font-size: 22px

.nameContainer_brain
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center

    .nameContainer_brainContent
        width: 100%
        height: 80%
        display: flex
        justify-content: center
        // flex-direction: row-reverse
        align-items: center

        .brain_btns
            width: 20.673%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            .btnAtlasShortLeg
                margin-bottom: 15px

            .btn
                width: 100%
                display: flex
                flex-direction: column
                justify-content: center

                .btn_Title
                    font-size: 33px
                    color: #fff

                .btnContainer
                    width: 100%
                    max-width: 258px
                    height: 46px
                    display: flex
                    justify-content: center
                    align-items: center
                    background-color: #262626
                    border: 1px solid #262626
                    border-radius: 38px

                .btnContainer div
                    width: 33.33%
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    color: #B1B1B1
                    font-size: 18px
                    text-align: center
                    cursor: pointer

                .btnContainer .btnActive
                    background-color: #6E6E6E
                    border: 1px solid #6E6E6E
                    border-radius: 38px

                .titleRogueMode
                    // width: 200%
                    font-family: Poppins, sans-serif
                    font-size: 23px
                    text-align: left

            .containerRogueMode
                display: flex
                justify-content: space-between
                margin-top: 15%
                // .titleRogueMod

                .btnRogueMode
                    align-self: flex-start
                    width: 100%
                    max-width: 154px
                    height: 46px

                .btnRogueMode div
                    width: 50%
                    text-align: center
        .brain
            // width: 100%
            height: 95%
            width: 70%
            svg
                width: 100%
                height: 100%
        .intakeInfoText_results
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            height: 100%
            .results
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                max-width: 121px
                max-height: 121px
                border: 1px solid #aef7ff
                border-radius: 50%
                div
                    // width: 100%
                    display: flex
                    justify-content: center
                    align-items: center

    .alphaContainer
        // height: 20%
        display: flex
        justify-content: center
        align-items: center
        padding-bottom: 10px
        // height: 11.57vh
        .alphaContainer_text
            margin-right: 25px
            font-size: 43px
        .alphaContainer_letters
            margin-right: 5px
            display: flex
            justify-content: space-around
            align-items: center
            flex-direction: column
            text-align: center
            .letter
                font-size: 24px
                color: #aef7ff
        .alphaContainer_dashboard
            width: 68%
            svg
                width: 100%

@media (max-width: 1100px)
    .nameContainer_brain
        height: 95%
        .nameContainer_brainContent
            .brain_btns
                .btn
                    .btn_Title
                        font-size: 28px
                .containerRogueMode
                    .titleRogueMode
                        font-size: 20px

@media (max-width: 1024px)
    .nameContainer_brain
        height: 95%
        .nameContainer_brainContent
            height: 80%
            // flex-direction: column-reverse
            // flex-wrap: wrap
            justify-content: center
            align-items: center
            .intakeInfoText_results
                padding-top: 20px
                display: flex
                // flex-direction: row
            .brain
                // height: 100%
                width: 100%
            .brain_btns
                width: 100%
                // flex-direction: row
                .btn
                    .btn_Title
                        text-align: left
                        font-size: 23px
                        padding-left: 10px
                    .btnContainer
                        height: 40px

                .containerRogueMode
                    margin-top: 0
                    .titleRogueMode
                        font-size: 20px
            .intakeInfoText_results
                align-self: center
                display: flex

        .alphaContainer
            height: auto


@media (max-width: 780px)
    .nameContainer_brain
        height: 95%
        .nameContainer_brainContent
            .brain_btns
                .btn
                    .btn_Title
                        font-size: 25px
                .containerRogueMode
                    .titleRogueMode
                        font-size: 18px


@media (max-width: 680px)
    .nameContainer_arousal
        position: relative
        width: 34.22%
        height: 100%
        border-right: 0px
        background: transparent
        display: flex
        justify-content: flex-start
        align-items: center
        flex-direction: column