.queue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10% 10%;
  padding-right: 20%;
}

.queue_title {
  font-size: 52px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 55px;
}

.queue_list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 443px;
  height: 97px;
  background: #000;
  border: 4px solid #0ff;
  margin-bottom: 25px;
  cursor: pointer;
  text-transform: uppercase;
}

.queue_add_button {
  width: 443px;
  height: 97px;
  background: transparent;
  font-weight: bold;
  border: 4px solid #0ff;
  color: #fff;
  font-size: 38px;
  cursor: pointer;
}

.queue_add_button:hover {
  background: rgb(0, 80, 80);
}

.modal_window {
  padding: 30px;
  width: 800px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid #0ff;
  color: #fff;
  font-size: 38px;
  background-color: black;
  overflow: scroll;
}

.rogue {
  position: absolute;
  left: 73%;
  top: 50%;
  margin-bottom: 10px;
}


.rogue_mode {
  font-size: 25px;
  color: #fff;
}

.button {
  position: relative;
  top: 50%;
  width: 352px;
  height: 59px;
  overflow: hidden;
  background: #4e4e4e;
}

.button.b2 {
  border-radius: 30px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 0;
  width: 198px;
  height: 59px;
  font-size: 25px;
  line-height: 59px;
  border-radius: 30px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: '';
  align-items: center;
  left: 0;
  background-color: #b1b1b1;
  text-align: center;
}

#button-10 .knobs:after {
  content: 'Off';
  align-items: center;
  text-align: center;
  right: 4px;
  color: white;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  text-align: center;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked+.knobs span {
  color: white;
  text-align: center;
}

#button-10 .checkbox:checked+.knobs:before {
  left: 155px;
  background-color: #b1b1b1;
  text-align: center;
}

#button-10 .checkbox:checked+.knobs:after {
  color: #fff;
  text-align: center;
}

#button-10 .checkbox:checked~.layer {
  background-color: #fcebeb;
  text-align: center;
}

@media (max-width: 1440px) {
  .rogue {
    left: 70%;
  }

  .popup-content  {
    right: 10%;
  }

  .button {
    width: 230px;
    height: 49px;
  }

  #button-10 .knobs:before, #button-10 .knobs:after, #button-10 .knobs span {
    width: 115px;
    height: 49px;
    font-size: 16px;
    line-height: 49px;
  }

  #button-10 .checkbox:checked+.knobs:before {
    left: 115px;
  }

}

@media (max-width: 540px) {
  .queue {
    margin: 18% 10%;
    padding-right: 0;
  }

  .queue_title {
    font-size: 42px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    letter-spacing: 3px;
  }

  .queue_add_button {
    width: 310px;
    height: 77px;
    background: transparent;
    font-weight: bold;
    border: 2px solid #0ff;
    box-sizing: border-box;
    font-size: 30px;

  }

  .queue_list {
    width: 310px;
    height: 77px;
    margin-bottom: 15px;
    font-size: 25px;
  }

  .modal_window {
    width: 410px;
    height: 410px;
    padding: 10px;
    margin-top: 85px;
  }

  .modal_window .queue_list {
    width: 295px;
    margin-bottom: 8px;
    border: 2px solid #0ff;
  }

  .rogue {
    right: 0;
    top: 10.5%;
    left: 10%;
    margin-bottom: 0;
  }

  .rogue_mode {
    font-size: 14px;
    padding-left: 5px;
    width: 100%;
  }

  .button {
    width: 146px;
    height: 39px;
  }

  #button-10 .knobs:before, #button-10 .knobs:after, #button-10 .knobs span {
    width: 75px;
    height: 39px;
    font-size: 16px;
    line-height: 39px;
  }

  #button-10 .checkbox:checked+.knobs:before {
    left: 69px;
  }

  .popup-content  {
    right: 0;
  }

  .nav_bar {
    padding: 5px 0 0 28px;
    height: auto;
  }

  .menu_button svg {
    width: 30px;
  }

  .menu {
    top: 60px;
    left: 40px;
    width: 200px;
    height: 341px;
    font-size: 26px;
  }

  .logo {
    margin-left: 40px
  }

  .logo svg {
    width: 200px;
  }

}


@media (max-width: 414px) {
  .queue {
    margin: 23% 10%;
    padding-right: 0;
  }

  .modal_window {
    width: 350px;
    height: 410px;
    padding: 10px;
    margin-top: 85px;
  }
}

@media (max-width: 375px) {
  .queue {
    margin: 25% 10%;
    padding-right: 0;
  }

  .modal_window {
    width: 318px;
    padding: 10px;
    margin-top: 130px;
  }

  .queue_list {
    width: 275px;
    height: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1.5px solid #0ff;
  }

  .queue_add_button {
    width: 275px;
    height: 60px;
    background: transparent;
    font-weight: bold;
    border: 2px solid #0ff;
    box-sizing: border-box;
    font-size: 25px;

  }
}
