.registration {
  text-align: center;
}

.registration_title {
  font-size: 52px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 55px;
  margin-top: 50px;
}

.registration_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration_input {
  /* width: 879px; */
  width: 43.3%;
  height: 84px;
  border-radius: 42px;
  background: transparent;
  border: 2px solid #AEF7FF;
  font-size: 35px;
  text-align: left;
  color: #fff;
  opacity: 0.66;
  padding-left: 30px;
  margin-bottom: 25px;
}

.registration_input::placeholder , .registration_input input::placeholder{
  color: #AEF7FF;
}

.registration_button {
  display: block;
  /* width: 448px; */
  width: 24.21%;
  height: 96px;
  border-radius: 48px;
  background: linear-gradient(#00e5ff 0%, #085e67 100%);
  border: 1px solid #AEF7FF;
  color: white;
  font-size: 35px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
}

.registration_button:hover {
  background: linear-gradient(#02adc0 0%, #053f46 100%);
}

.registration_button:disabled {
  background: linear-gradient(#bcc7c8 0%, #464c4d 100%);
}

.checkboxRegisterForms {
  width: 43.3%;
  /* background-color: #00e5ff; */
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
}

.checkboxOtherRegisterForms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reqFormTitleText {
  width: 43.3%;
  font-size: 21px;
  text-align: left;
  padding-bottom: 10px;
  text-indent: 5px;
  text-align: justify;
}

.asterisk {
  color: red;
}

.registration_input .invalid-feedback {
  font-size: 1em;
  color: red;
}

.positionAsterisk {
  position: absolute;
  top: -14px;
  right: .5px;
}

.error {
  width: 43.3%;
  color: red;
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding-left: 10px;
}

/* Customize the label (the container) */
.container, .containerRadiobutton, .containerOtherCondition {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #AEF7FF;
  letter-spacing: 1.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerRadiobuttonStressfulLevel {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  font-size: 16px;
}

.level {
  position: absolute;
  bottom: 30px;
  z-index: 10;
  left: 5px;
}

/* Hide the browser's default checkbox */
.container input,  .containerRadiobutton input, .containerOtherCondition input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark, .checkmarkRadiobutton {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: black;
  border: 1px solid #AEF7FF;
  border-radius: 3px;
}

.checkmarkRadiobuttonStressfulLevel {
  height: 20px;
  width: 20px;
}

/* Create a custom radio button */
.checkmarkRadiobutton {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkMark, .containerRadiobutton:hover input ~ .checkmarkRadiobutton, .containerOtherCondition:hover input ~ .checkmarkRadiobutton {
  background-color: #a3a3a3;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkMark, .containerRadiobutton input:checked ~ .checkmarkRadiobutton, .containerOtherCondition input:checked ~ .checkMark {
  background-color: #459CAD;
}


/* Create the checkMark/indicator (hidden when not checked) */
.checkMark:after, .checkmarkRadiobutton:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkMark when checked */
.container input:checked ~ .checkMark:after, .containerRadiobutton input:checked ~ .checkmarkRadiobutton:after, .containerOtherCondition input:checked ~ .checkMark:after {
  display: block;
}


/* Style the checkMark/indicator */
.container .checkMark:after, .containerOtherCondition  .checkMark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Style the indicator (dot/circle) */
.containerRadiobutton .checkmarkRadiobutton:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.containerRadiobutton  .checkmarkRadiobuttonStressfulLevel:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.inputOtherCheckBoxRegForm {
  width: 75%;
  background: transparent;
  font-size: 30px;
  text-align: left;
  color: #fff;
  opacity: 0.66;
  padding-left: 13px;
  margin-bottom: 17px;
  outline: none;
  border: none;
  border-bottom: 2px solid #AEF7FF;
  background-color: black;
}

.containerCheckboxStressfulLevel {
  width: 43.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reqFormSubTitleText {
  font-size: 14px;
}

.inputRelationshipChild {
  width: 43.3%;
  font-size: 21px;
  text-align: left;
  background: transparent;
  font-size: 30px;
  color: #fff;
  opacity: 0.66;
  padding-left: 13px;
  margin-bottom: 17px;
  outline: none;
  border: none;
  border-bottom: 2px solid#AEF7FF;
  background-color: black;
}

.containerCheckboxStressfulLevel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reqFormButtonsStressfulLevel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration_input_data {
  width: 93%;
  height: 50px;
  margin: 2.5px auto;
  font-size: 22px;
  /* background-color: black; */
  opacity: 1;
  border: none;
  color: #AEF7FF;
  background-color: black;
  outline: none;
  justify-content: left;
}

.registration_input_birth {
  position: relative;
}

.registration_input_birth .input_birth {
  width: 95%;
  color: transparent;
}



.registration_input_birth .label_birth {
  /* width: 30%; */
  position: absolute;
  top: 22%;
  color: #AEF7FF;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* color: rgba(0, 0, 0, 0); */
  opacity: 1;
  display: block;
  background: url('../../images/calendar_req_form_client.svg') no-repeat;
  width: 48px;
  height: 29px;
  border-width: thin;
}

@media (max-width: 1440px) {
  .registration_input {
    width: 55%;
    height: 64px;
    position: relative;
    font-size: 24px;
    text-align: left;
    color: #AEF7FF;
    opacity: 0.66;
    padding-left: 30px;
    /* margin-bottom: 17px; */
  }

  .registration_button {
    width: 40%;
    /* width: 348px; */
    height: 76px;
    font-size: 24px;
    margin-top: 40px;
  }

  .reqFormTitleText {
    font-size: 19px;
    padding-bottom: 12px;
    padding-left: 8px;
  }

  .checkboxRegisterForms {
    width: 55%;
    padding-left: 25px;
  }

  .inputOtherCheckBoxRegForm {
    width: 70%;
}

  .reqFormTitleText {
    width: 58%;
    font-size: 16px;
    padding-bottom: 12px;
    text-align: left;
  }

  .containerCheckboxStressfulLevel {
    width: 55%;
  }
  .inputRelationshipChild {
    width: 55%;
  }
}




@media (max-width: 768px) {
  .registration_title {
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .registration_input {
    width: 95%;
    height: 48px;
    font-size: 16px;
    text-align: left;
    color: #fff;
    opacity: 0.66;
    padding-left: 30px;
    /* margin-bottom: 10px; */
  }

  /* .registration_input_birth {
    position: relative;
  }

  .registration_input_birth .input_birth {
    color: transparent;
  }

  .registration_input_birth .label_birth {
    width: 100%;
    position: absolute;
    top: 22%;
    color: #AEF7FF;
  } */

  .registration_input_birth input[type=data]::placeholder{
    width: 100%;
    /* position: absolute; */
    top: 22%;
    color: #AEF7FF;
    background-color: #00e5ff;
  }

  .registration_input_birth input[type=data] {
    color: #AEF7FF;
  }

  .registration_input_data {
    width: 95%;
    height: 38px;
    margin: 2.5px auto;
    font-size: 16px;
    opacity: 1;
    border: none;
    color: #AEF7FF;
    background-color: black;
    outline: none;
    justify-content: left;

  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    opacity: 1;
    background: url('../../images/calendar_req_form_client_mob_v.svg') no-repeat;
    width: 50px;
    height: 48px;
    margin-top: 17px;
    border-width: thin;
  }

  .registration_button {
    width: 85%;
    height: 56px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .checkboxRegisterForms {
    width: 95%;
    padding-left: 25px;
  }

  .inputOtherCheckBoxRegForm {
    width: 85%;
}

  .reqFormTitleText {
    width: 98%;
    font-size: 16px;
    padding-bottom: 12px;
    text-align: left;
  }

  .containerCheckboxStressfulLevel {
    width: 95%;
    flex-direction: column;
  }

  .containerCheckboxStressfulLevel .reqFormSubTitleText {
    margin-bottom: 25px;
  }

  .inputRelationshipChild {
    width: 90%;
  }
}

@media (max-width: 414px){
  .inputOtherCheckBoxRegForm {
      width: 70%;
  }
}

@media (max-width: 375px){
  .inputOtherCheckBoxRegForm {
      width: 68%;
  }
}

@media (max-width: 320px){
  .inputOtherCheckBoxRegForm {
      width: 62%;
  }

  .containerCheckboxStressfulLevel {
    width: 95%;
    flex-direction: column;
  }

  .containerRadiobutton, .containerOtherCondition {
    padding-left: 31px;
    margin-bottom: 12px;
  }
}