.containerIntakeContent {
    height: 78.85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coherence {
    width: 672px;
    height: 100%;
    border-right: solid #707070 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.coherenceTitleText {
    font-size: 47px;
    font-weight: bold;
}

.coherenceDashboard {
    margin-top: 100px;
}

.coherenceBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coherenceBtn_circles {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.coherenceBtn_circle {
    width: 13px;
    height: 12px;
    background-color: #B1B1B1;
    border: 1px solid #707070;
    border-radius: 50%;
}

.coherenceBtn_circleActive {
    width: 28px;
    height: 28px;
    background-color: #fff;
}

.coherenceBtn_complete {
    width: 200px;
    height: 56px;
    color: white;
    font-size: 28px;
    background-color: #B1B1B1;
    border: 1px solid #707070;
    border-radius: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intakeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.intakeInfoText {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.intakeInfoText_health {
    width: 988px;
    height: 585px;
    border: 1px solid #707070;
    background: radial-gradient(#515151, #000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 20px;
    position: relative;
}

.intakeInfoText_health .fas.fa-times {
    position: absolute;
    color: #fff;
    font-size: 24px;
    top: 15px;
    left: 15px;
}

.intakeInfoText_healthTitle {
    margin-top: 30px;
    font-size: 28px;
}

.clientIntakeInfo {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.clientIntakeInfo div {
    font-size: 20px;
}

.intakeInfoText_healthBtn {
    margin-bottom: 30px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 531px;
    height: 59px;
    background-color: #4E4E4E;
    border-radius: 38px;
}

.intake_btn {
    margin-right: 30px;
    color: #AAAAAA;
    display: flex;
    justify-content: center;
    align-items: center;

}

.intake_btnActive {
    width: 175px;
    height: 59px;
    background-color: #B1B1B1;
    color: #fff;
    border-radius: 38px;
}

.intakeInfoText_healthBtn .intake_btn:last-child {
    margin-right: 0;
}

.intakeInfoText_results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
}

.intakeInfoText_results .results {
    width: 121px;
    height: 121px;
    border: 1px solid #AEF7FF;
    border-radius: 50%;
    margin-bottom: 50px;
}
.intakeInfoText_results .results:last-child {
    margin-bottom: 0;
}

.intakeInfoAlpha {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px;
}

.intakeInfoAlpha_text {
    font-size: 43px;
}

.intakeInfoAlpha_letters {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.intakeInfoAlpha_letters .letter {
    font-size: 24px;
    color: #AEF7FF;
}

.intakeInfoAlpha_dashboard {
}
